{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}

<div class="namecharacter"><h1> {{ character.firstName }}{{ character.lastName }}</h1></div>

<div class="blockShow">
   
    <div class="imageshow"><img src="{{ character.picture }}"/></div>
   
    <div class="blockShowCaract"><h2>Description : </h2></br>{{ character.description }}</div> 
    <div class="block3">
        <div class="power">Puissance : {{ character.power }}</div>
         <div class="combat"><button><a href="{{ path('character_fight', {'id': character.id}) }}">COMBATTRE</button></div >

         <div class="poweruser">Votre Force : {{ app.user.poweruser }} </div>
    </div>
</div>


           
             
            
       
             
              
     <div class="footer">    

    <p>

    <a href="{{ path('character_edit', {'id': character.id}) }}">edit</a></p>

    {# {{ include('character/_delete_form.html.twig') }} #}
    </div>
{% endblock %}
